*{
    margin: 0;
	padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(15, 15, 15);
    color: aliceblue;
}

/* RESET CRÍTICO */
/* body {
    overflow-x: hidden;
    position: relative;
} */

.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    justify-content: center;
    gap: 10px; 
    padding: 50px 0;
}

.title img {
    height: 100px;
    width: auto;
    /* filter: drop-shadow(0 2px 5px rgba(0, 242, 255, 0.8)) blur(1px);
    transform: scale(1.1) translateY(-5px); aqui hubo un problema con las especificaciones y el criterio entre GSAP y las hojas de estilo, lo dejo para recordarlo porque 
    se interconecto el JS con ambas y no sabia a cual darle el criterio de especificidad dando una confusion que llevaba a que arcane se quedara activado la luz desde su entrada en el display */
    opacity: 0.7;
}




.grid__gallery-characters {
    display: grid;
    /* Autofill is the form more easy for a resize fast, its amazing */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 15px;
    padding: 20px;
}
    
.gallery__item {
    width: 100%;
    aspect-ratio: 1/ 2; 
    overflow: hidden;
    background: #1a1a1a;
    border-radius: 4px;
    border: 1px solid rgba(0, 242, 255, 0.1);
    will-change: transform, opacity;
    backface-visibility: hidden; /* Truco para suavizar animaciones */
}

.gallery__item:hover {
    border: 1px solid #eedb9fc9;
}

.gallery__img {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 2;
    object-fit: cover; /* Cut the image for fill all space and no resize the original img */
    object-position: center top;  /* Is very usefull , the align the line of cut center top for see the faces good. */
    display: block;
    transition: transform 1.5s ease;
}

.gallery__item:hover .gallery__img {
    transform: scale(1.1); 
}


/* .addicional__text-img{
    position: absolute;
    left: 30%;
    top: 85%;
    color: rgb(249, 209, 148);
    font-size: 4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    pointer-events: none;

    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease;
} */

.addicional__text-img {
    position: absolute;
    bottom: 0px;   
    width: 100%;     /* center width the box */
    text-align: center;
    color: #eedb9f;
    font-size: 2.3rem; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    z-index: 10;     
    pointer-events: none; /* the mouse not take the text and detect the img.*/
    padding: 10px;
    
    /* start status: hide */
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease;
}

.gallery__item:hover .addicional__text-img {
    opacity: 1;
    transform: translateY(0);
}


----------------

.character-detail {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(10, 10, 10, 0.98);
    z-index: 100;
     
  
    /*evita el error del FOUC (Flash of Unstyled Content) */
    overflow-y: scroll; /* Forzamos que el scroll ocurra AQUÍ y no en el body */
    -webkit-overflow-scrolling: touch;
    pointer-events: none;
}

.btn-back{
    top: 20px;
    right: 20px;
    background: #eedb9f;
    padding: 5px;
    border-radius: 0.5rem;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    z-index: 1000;
}

.detail-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Columna izquierda más estrecha */
    grid-template-rows: auto auto;    /* Fila superior más alta */
    gap: 20px;
    width: 80%;
    max-width: 1800px;
    margin: 20px auto;
}

.btn-back{ /* mov of button controled, the position absolute if more easy and use to much UI with modal but... la jerarquia no me dejaba ambiliar el espacio del boton y tuve que moverlo de posicion en el HTML */
    grid-column: 1 / 3; 
    justify-self: start;

     
}

.block-char {
    /* grid-column: 2 / 4; */
    display: flex;
    flex-direction: column;
    background: rgba(20, 20, 20, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.1);
   
}

.char-name{
    display: flex;
    justify-content: center;
    align-items: center;
}


.main-card {
    justify-content: center;
    background: #050505;
    border: 1px solid #00f2ff;
    position: relative;
    overflow: hidden;
}

.detail__bottom-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    &.detail__bottom-row img{
        object-fit: contain;
        height: 200px;
        padding: 10px;
    }
}

/* Scroll personalizado para el bloque de Lore */

.lore-content{
    display: flex;
    flex-direction: column;
    align-items: center;

    &.lore-content h3{
        margin: 1rem;
        font-size: 2rem;
    }
}


.scroll-container {
    overflow: auto;
    scrollbar-width: thin;
    flex-grow: 1; /*creo que es fantasma esta parte del codigo. revisa. */
    padding: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 90%;
    height: 400px;
    margin-bottom: 1rem;

    font-size: 1.4rem;
}



.scroll-arrows{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: end;
    font-size: 3rem;

}

