*{
    margin: 0;
	padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(15, 15, 15);
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    justify-content: center;
    gap: 10px; 
    padding: 50px 0;
}

.title_img {
    height: 100px;
    width: auto;
    filter: drop-shadow(0 2px 5px rgba(0, 242, 255, 0.8)) blur(1px);
    transform: scale(1.1) translateY(-5px); /* Se agranda y sube un poco */
    opacity: 0.7;
}




.grid__gallery-characters {
    display: grid;
    /* Autofill is the form more easy for a resize fast, its amazing */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 15px;
    padding: 20px;
}
    
.gallery__item {
    width: 100%;
    aspect-ratio: 1/ 2; 
    overflow: hidden;
    background: #1a1a1a;
    border-radius: 4px;
    border: 1px solid rgba(0, 242, 255, 0.1);
}

.gallery__item:hover {
    border: 1px solid rgba(0, 242, 255, 0.8);
}

.gallery__img {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 2;
    object-fit: cover; /* Cut the image for fill all space and no resize the original img */
    object-position: center top;  /* Is very usefull , the align the line of cut center top for see the faces good. */
    display: block;
    transition: transform 1.5s ease;
}

.gallery__item:hover .gallery__img {
    transform: scale(1.1); 
}


/* .addicional__text-img{
    position: absolute;
    left: 30%;
    top: 85%;
    color: rgb(249, 209, 148);
    font-size: 4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    pointer-events: none;

    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease;
} */

.addicional__text-img {
    position: absolute;
    bottom: 0px;   
    width: 100%;     /* center width the box */
    text-align: center;
    color: #eedb9f;
    font-size: 2.3rem; /* Bajamos un poco el tamaño para que quepa bien */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    z-index: 10;     
    pointer-events: none; /* Para que el ratón "atraviese" el texto y detecte la imagen */
    padding: 10px;
    
    /* start status: hide */
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease;
}

.gallery__item:hover .addicional__text-img {
    opacity: 1;
    transform: translateY(0);
}