/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: #8A0707;
    background-color: black;
    height: 5000px;
    width: 100vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main__section{
    position: fixed;
    left: 35%;
    top: 45%;
}

.title{
    font-size: 10rem;
    width: 100%;
    top: 50%;
}

.word_special{
    font-size: 6rem;
    margin: 0.3rem;
} */


body {
    color: #8A0707;
    background-color: black;
    /* No hace falta poner height 5000px aquí, GSAP lo creará con el pin */
    width: 100vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow-x: hidden;
}

.main__section {
  position: relative; /* Contenedor de referencia */
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.title {
    position: absolute; /* Para que flote sobre el canvas */
    z-index: 10;
    font-size: 10rem;
    width: 100%;
    text-align: center;
    pointer-events: none; /* Para que no moleste al hacer scroll */
}

#hero {
    /* El canvas debe tener un tamaño visible */
    max-width: 100vw;
    max-height: 100vh;
    z-index: 1;
    position: relative;
}

.eyes-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
    width: 100%; 
    height: 100%;
    max-width: 1366px; 
    max-height: 768px;
    z-index: 99; 
    pointer-events: none;
}
.eye-glow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; 
}

.shine-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: linear-gradient(to right, 
                rgba(255, 255, 255, 0) 0%, /* Transparente al inicio */
                rgba(255, 255, 255, 0.8) 50%, /* Blanco brillante en el centro */
                rgba(255, 255, 255, 0) 100%); /* Transparente al final */
    transform: translateX(-100%); /* Empieza completamente a la izquierda, fuera de la vista */
    opacity: 0; /* Invisible al inicio */
    z-index: 10; /* Siempre por encima de los ojos */
    pointer-events: none;

}