@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
       

        body {
           
            background-color: #0b0e14;
            color: white;
            display: flex;
            justify-content: center;
            padding: 50px;
             font-family: 'Bangers', system-ui;

        }

        /* Usamos Grid como pediste */
        .article-grid {
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
            max-width: 600px;
            text-align: center;
        }

        h1 { font-size: 4rem; margin: 0; }
        h3 { color: #f39c12; text-transform: uppercase; }
        p { line-height: 1.6; font-family: sans-serif; }

        .thor-image {
            width: 100%;
            height: 300px;
            background-image: url('https://i.pinimg.com/736x/7c/63/d9/7c63d901a2169604adfb95a464391a1c.jpg');
            background-size: cover;
            background-position: bottom;
        }
  