*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background: rgb(22, 21, 21);
    margin: 1rem;
}

.box{
    padding: 1rem;
    margin-bottom: 1rem;
    height: 160px;
    width: 160px;
    border: 2px solid bisque;
    background-color: peru;
    border-radius: 1rem;

    &.gray{
    padding: 1rem;
    height: 160px;
    width: 160px;
    border: 2px solid aliceblue;
    background-color: lightslategray;
    border-radius: 1rem;
    }

    &.pink{
    padding: 1rem;
    height: 160px;
    width: 160px;
    border: 2px solid lightpink;
    background-color: palevioletred;
    border-radius: 1rem;
    }
}
footer{
    display: flex;
    justify-content: center;
    gap: 1rem
}

button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40px;
    width: auto;
    padding: 1rem;
}

button:hover{
    background-color: red;
}




#log{
    color: aliceblue;
}


.log_Checked{
    /* display: grid;
    grid-template-columns: repeat(3, 200px); */
    display: flex;
    justify-content: center;
    font-size: 2rem;
    overflow: scroll;
    margin: 1rem;
    padding: 1rem;
    height: 200px;
    width: 500px;
    background-color: darkgrey;
}
