:root{
    --accent-color: #27a4e3; /* default color */


    /* primary--color: ;
    secondary--color: ; */

    /* DECORATIVE COLORS */
    --gold-100--100: #e7e09b;
    --gold--200: #d2c976;
    --gold--300: #c7bd5f;
    --purple--100: 	#c4b2c7;
    --purple--300: #69506f;

    /* TEXT FONT */
    --natural-text: #0d1b2a;
    --inverse-text: #f2f2f2;
    --accent-text:  #6a1b4d;  

    /*FX EFFECT */
    --fx-blue--100: #38c3ff;
    --fx-blue--300: #33a4fc;
    --fx-IntenseViolet--300: #6c00ff;
    --fx-IntenseViolet--200: #9e56ff;
    --fx-IntenseViolet--100: #bd8cff;

}


* { 
    margin: 0; 
    padding: 0;
    box-sizing: border-box; 
}

body { 
    background: #111; 
    color: white; 
    font-family: sans-serif;
    height: 5000px; /*test for scroll */
    width: 100vw;
}

/* El bloqueo del body */
body.modal-open {
    overflow: hidden !important;
    height: 100vh;
}
/* --- HERO TITLE ARCANE --- */

.hero__title {
    display: flex;
    justify-content: center;
    margin: 2rem 0;

    gap: 10px;
    visibility: hidden;
}

.letter {  
    width: clamp(40px, 8vw, 100px); /*(min movil) - (ideal size) - (max in desktop) */
    height: auto;
    filter: drop-shadow(0 0 0px rgba(0, 183, 255, 0));
    transition: filter 0.3s ease;
}

 
/* --- GALLERY STYLE --- */

.gallery {
    display: grid;
    perspective: 1500px; /* for 3d effect */
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 50px;
    max-width: 1200px;
    margin: 0 auto;
}

.card{
    display: block;
    position: relative;
    background: #333;
    cursor: pointer;
    border: 2px solid #444;
    
    /* take the assambles for grid */
    width: 100%;       /* width of grid */
    aspect-ratio: 3/4; /* anchor height asambles posters of film */
    overflow: hidden;  /* important for the img not exit to assambles.  */
    backface-visibility: hidden;
    box-shadow: 0.3s ease var(--accent-color);
      

    transition: box-shadow 0.3s ease;
    transform-style: preserve-3d;
}

.card:hover {
    /* This style it here but our JS, take the --accent-color for any card. */
    border: 2px solid var(--accent-color);
    box-shadow: 0 0 15px var(--accent-color);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* not deform */
    object-position: center top;
    display: block;
    
    pointer-events: none;
    opacity: 0;
    transform: translateY(30px);

}

.gallery_item {
    border: 2px solid #444;
    width: 100px; 
    height: 200px; 
    cursor: pointer; 

 
}

.item-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px;
    background: linear-gradient(transparent, rgba(0,0,0,0.8));
    text-align: center;
    font-size: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* modal : siempre debe ser FIXED para no colisionar con el scroll */
.modal-overlay {
    --accent-color: #27a4e3;

    display: none;  /* initial state: Invisible for the user */
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 10;

    top: 0; left: 0;
    width: 100%; height: 100vh;
    background: rgba(0,0,0,0.9);
    
    /* change the content of the click in the JS , with the data of JSON */
    
}

.modal-content {
    display: flex; /* split 35/65 */
    width: 80%; height: 60vh;
    background: #222; border: 1px solid #555;
    border: 1px solid var(--accent-color); 
    box-shadow: 0 0 30px rgba(0,0,0,0.5), 0 0 10px var(--accent-color);
}

.modal__text-wrapper {
    max-height: 250px;
    overflow-y: auto;
    padding-right: 10px;
}

/* Personalización del Scrollbar */
.modal-photo { 
    flex: 0 0 35%; /* investigate the form to asambles in flex */
    background: #444; }
.modal-photo img { 
    width: 100%; 
    height: 100%; 
    object-fit: cover; }

    .modal-info { 
        flex: 0 0 65%; 
        padding: 40px; 
    }
.modal-info h2{ 
    color: var(--accent-color); 
    font-size: 3rem;
    margin-bottom: 10px;
}


.subtitle-class{
margin-bottom: 0.5rem;
}

#dynamic-text {
    max-height: 250px;/* Importante para que desborde */
    overflow-y: auto;  /* Habilita el scroll */
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--accent-color) rgba(255, 255, 255, 0.1); /*use transparent transparent be you not stay well by result, but... need put other button for finish the scroll for up the description all. */
    font-size: 1.1rem;
    line-height: 1.6;
    margin: 2rem 0rem;
    padding: 0.5rem 2rem 0.5rem 1rem;
    box-shadow: inset rgb(17, 18, 18) 0px 0px 40px 1px,
                rgba(32, 33, 34, 0.1) 0px 0px 20px 8px;
    text-align: justify;

}

/* BUTTONS MODALS */

.close-btn {
    position: relative;
    cursor: pointer;
    left: 0px;
    top: 0px;
    color: var(--accent-color);
    margin-top: 20px;
    padding: 10px 20px;
    background: transparent;
    border: 2px solid var(--accent-color);
}

.close-btn:hover {
    background: var(--accent-color);
    color: #222; 
    box-shadow: 0 0 15px var(--accent-color);
}

.modal__navigation--text{
    display: flex;
   justify-content: end;
}

.modal__btn--up{
    width: auto;
    height: 50px;
    margin: 0.5rem;
    padding: 0.2rem;
    background-color: var(--accent-color);
}

.modal__btn--down{
    width: auto;
    height: 50px;
    margin: 0.5rem;
    padding: 0.2rem;
    background-color: var(--accent-color);
}

.modal__navigation--Character{
   display: flex;
   justify-content: end;
}

.modal__btn--prev{
    width: auto;
    height: 50px;
    margin: 0.5rem;
    padding: 0.2rem;
    background-color: var(--accent-color);
}

.modal__btn--next{
    width: auto;
    height: 50px;
    margin: 0.5rem;
    padding: 0.2rem;
    background-color: var(--accent-color);
}

