* { margin: 0; padding: 0; box-sizing: border-box; }

body { background: #111; color: white; font-family: sans-serif; }

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 50px;
    max-width: 1200px;
    margin: 0 auto;
}

.card{
    position: relative;
    background: #333;
    cursor: pointer;
    border: 2px solid #444;
    
    /* take the assambles for grid */
    width: 100%;       /* width of grid */
    aspect-ratio: 2/3; /* anchor height asambles posters of film */
    overflow: hidden;  /* important for the img not exit to assambles.  */
    
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* not deform */
    object-position: center top;
    display: block;

    opacity: 0;
    transform: translateY(30px);

}

.gallery_item {
    border: 2px solid #444;
    width: 100px; 
    height: 200px; 
    cursor: pointer; 

 
}

.item-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px;
    background: linear-gradient(transparent, rgba(0,0,0,0.8));
    text-align: center;
}

/* modal : siempre debe ser FIXED para no colisionar con el scroll */
.modal-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100vh;
    background: rgba(0,0,0,0.9);
    z-index: 10;
    
    /* initial state: Invisible for the user. */
    display: none; 
    justify-content: center;
    align-items: center;
}

.modal-content {
    display: flex; /* split 35/65 */
    width: 80%; height: 60vh;
    background: #222; border: 1px solid #555;
}

.modal-photo { flex: 0 0 35%; background: #444; }
.modal-photo img { width: 100%; height: 100%; object-fit: cover; }

.modal-info { flex: 0 0 65%; padding: 40px; }
.close-btn { margin-top: 20px; cursor: pointer; padding: 10px 20px; }